
@{
    ViewData["Title"] = "Account";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> Website of LV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!--Link Css-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/css/admin_account.css" rel="stylesheet" />

</head>
<body>
    <div class=" container-fluid">
        <p class="col-lg-12 borderbottom"></p>
        <div class="col-lg-12" style="position:relative;">
            <div class="col-lg-4">
                <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
                    <h3 class="w3-bar-item">Manage User</h3>
                    <a href="#" class="w3-bar-item w3-button">All User</a>
                    <a href="#" class="w3-bar-item w3-button">Create User</a>
                    <a href="#" class="w3-bar-item w3-button">Another</a>
                </div>
            </div>
            <div class="col-lg-8 tab-all-user">
                <table class="table-users table" border="0">
                    <tbody>
                        <tr>
                            <td width="10" align="center">
                                <i class="fa fa-2x fa-user fw"></i>
                            </td>
                            <td>John Smith<br><i class="fa fa-envelope"></i></td>
                            <td>Builder Admin</td>
                            <td align="center">
                                Last Login:  6/14/2017<br><small class="text-muted">2 days ago</small>
                            </td>
                        </tr>

                        <tr>
                            <td width="10">
                                <img class="pull-left img-circle nav-user-photo" width="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxhcCYW4QDWMOjOuUTxOd50KcJvK-rop9qE9zRltSbVS_bO-cfWA" />
                            </td>
                            <td>Herbert Hoover<br><i class="fa fa-envelope"></i></td>
                            <td>Builder Sales Agent </td>
                            <td align="center">
                                Last Login:  6/10/2017<br><small class="text-muted">5 days ago</small>
                            </td>
                        </tr>

                        <tr>
                            <td width="10">
                                <img class="pull-left img-circle nav-user-photo" width="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxhcCYW4QDWMOjOuUTxOd50KcJvK-rop9qE9zRltSbVS_bO-cfWA" />
                            </td>
                            <td>Herbert Hoover<br><i class="fa fa-envelope"></i></td>
                            <td>Builder Sales Agent </td>
                            <td align="center">
                                Last Login:  6/10/2017<br><small class="text-muted">5 days ago</small>
                            </td>
                        </tr>

                        <tr>
                            <td width="10">
                                <img class="pull-left img-circle nav-user-photo" width="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxhcCYW4QDWMOjOuUTxOd50KcJvK-rop9qE9zRltSbVS_bO-cfWA" />
                            </td>
                            <td>Herbert Hoover<br><i class="fa fa-envelope"></i></td>
                            <td>Builder Sales Agent </td>
                            <td align="center">
                                Last Login:  6/10/2017<br><small class="text-muted">5 days ago</small>
                            </td>
                        </tr>

                        <tr>
                            <td width="10">
                                <img class="pull-left img-circle nav-user-photo" width="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxhcCYW4QDWMOjOuUTxOd50KcJvK-rop9qE9zRltSbVS_bO-cfWA" />
                            </td>
                            <td>Herbert Hoover<br><i class="fa fa-envelope"></i></td>
                            <td>Builder Sales Agent </td>
                            <td align="center">
                                Last Login:  6/10/2017<br><small class="text-muted">5 days ago</small>
                            </td>
                        </tr>

                        <tr>
                            <td width="10" align="center">
                                <i class="fa fa-2x fa-user fw"></i>
                            </td>
                            <td>John Smith<br><i class="fa fa-envelope"></i></td>
                            <td>Builder Admin</td>
                            <td align="center">
                                Last Login:  6/14/2017<br><small class="text-muted">2 days ago</small>
                            </td>
                        </tr>
                        <tr>
                            <td width="10" align="center">
                                <i class="fa fa-2x fa-user fw"></i>
                            </td>
                            <td>John Smith<br><i class="fa fa-envelope"></i></td>
                            <td>Builder Admin</td>
                            <td align="center">
                                Last Login:  6/14/2017<br><small class="text-muted">2 days ago</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <p class=" col-lg-12 borderbottom" style="margin-top:2%;">Add new Account</p>
        </div>
       

    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>

