 
  .un {
    display: inline-block;
  }
  .un:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: green;
    transition: 300ms;
  }
  
  .un:hover:after {
    width: 100%;
  }
  li.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
   -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    }