
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" media="screen" href="~/css/product.css" />
<body>
    <div class=" product">
        <h3> SẢN PHẨM BÁN CHẠY </h3>
        <ul>
            <li>
                <a href="#" class="img">
                    <img src="~/images/img_product_coffe.jpg" />
                </a>
                <a href="#" class="name">Cà phê nguyên chất</a>
                <div>200,000đ</div>
                <a href="#" class="cart">Thêm vào giỏ hàng </a>
                <span>001</span>
            </li>

            <li>
                <a href="#" class="img"> <img src="~/images/img_product_coffe.jpg" /> </a>
                <a href="#" class="name"> Cà phê nguyên chất </a>
                <div>200,000đ</div>
                <a href="#" class="cart">Thêm vào giỏ hàng </a>
                <span>002</span>
            </li>
            <li>
                <a href="#" class="img"> <img src="~/images/img_product_coffe.jpg" /> </a>
                <a href="#" class="name"> Cà phê nguyên chất </a>
                <div>200,000đ</div>
                <a href="#" class="cart"> Thêm vào giỏ hàng </a>
                <span>003</span>
            </li>
            <li>
                <a href="#" class="img"> <img src="~/images/img_product_coffe.jpg" /> </a>
                <a href="#" class="name"> Cà phê nguyên chất </a>
                <div>200,000đ</div>
                <a href="#" class="cart"> Thêm vào giỏ hàng </a>
                <span>003</span>
            </li>
            <li>
                <a href="#" class="img"> <img src="~/images/img_product_coffe.jpg" /> </a>
                <a href="#" class="name"> Cà phê nguyên chất </a>
                <div>200,000đ</div>
                <a href="#" class="cart"> Thêm vào giỏ hàng </a>
                <span>003</span>
            </li>
        </ul>

    </div>
</body>


